*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'arial', sans-serif;
    height: 100vh;
}

h1{
    margin: 20% auto 2% auto;
    text-align: center;
}

#demo {
    background-color: purple;
    padding: 10px;
    border-radius: 10px;
    margin: 4% auto auto auto;
    max-width: 400px;
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    color: #fff;

}